.controls {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
}

.controls :focus-visible {
	outline: 3px solid var(--text-color-dark);
}

.controls__toggle {
	padding: 5px;
	border-radius: 5px;

	min-width: 40px;
	min-height: 40px;
	background:var(--bg-color);
	transition: var(--transition200);
	transition-property: scale, box-shadow;
	box-shadow: 0 0 10px var(--color-primary);
}
.controls__toggle>svg{
	object-fit: contain;
	object-position: center;

}
.controls__toggle *{
	stroke: var(--color-primary);
}

.controls__toggle:active {
	scale: 1.1;
}

.controls__menu {
	display: flex;
	flex: 1;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 10px;
	transform: scaleY(1);
	transition: transform var(--transition200);
}

.controls__menu_hidden {
	transform: scaleY(0);
}

.controls__button {
	padding: 5px 10px;
	border-radius: 5px;

	max-height: max-content;
	width: max-content;

	font-size: 0.5rem;
	font-weight: 600;

	background: var(--color-primary);
	color: var(--text-color-light);
	transition: scale var(--transition200);
}

.controls__button:active {
	scale: 1.05;
}